<div class="row">
  <div class="col-sm-8">
    <div class="ko-front-message">
      <span class="ko-orange">SALON<span class="bold">NOW</span></span> is a great place to get the hair style you will feel great in and make others jealous of how good you look.
    </div>
  </div>
  <div class="col-sm-4">
    <div class="ko-front-stylist-link">
      <a href="/stylists">Check out our stylists</a>
    </div>
  </div>
</div>
