body {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
.header {
  background:rgba(255,255,255,0.9);
  position:fixed;
  width:100%;
  height:120px;
  top:0;
  z-index:10;
  border-bottom:1px solid #f47d39;
}
a, .ko-orange {
  color: #f47d39;
}
a:hover {
  color: #e36c28;
}
.header a:hover, .ko-front-stylist-link a:hover {
  text-decoration:none;
}
.header h1 {
  font-size: 4em;
  float:left;
  padding-right: 20px;
}
h1, h2 {
  color: #F47D39;
  text-transform:uppercase;
}
.bold {
  font-weight: 900;
}
.ko-nav {
  margin-top: 35px;
}
.content {
  background:url('/img/blonde.jpg') no-repeat center center fixed;
  background-size: cover;
  height:100vh;
  z-index:1;
}
.ko-front-message {
  color:#fff;
  font-size:2.4em;
  text-align:center;
  margin-top: 280px;
  margin-bottom:140px;
}
.ko-front-stylist-link {
  margin-top:280px;
  margin-bottom:140px;
  font-size:2em;
  font-weight:900;
}
.ko-front-stylist-link a {
  padding: 40px 16px;
  display:block;
  width:100%;
  text-align:center;
  border:1px solid #f47d39;
  color:#f47d39;
  background:rgba(255,255,255,1);
  border-radius:20px;
}
.ko-front-stylist-link a:hover {
  background:rgba(255,255,255,0.8);
}
.display-content {
  margin-top:160px;
  background:rgba(255,255,255,0.9);
  padding:0 25px 15px 25px;
  border-radius: 20px;
  border:1px solid #f47d39;
  min-height:400px;
}
.ko-form input{
  display:block;
  font-size: 3em;
  background:none;
  border:0;
  border-bottom:1px solid #f47d39;
  width:100%;
  margin: 4px 0;
}
.ko-form button {
  background:none;
  width:400px;
  display:block;
  margin:8px auto;
  font-size: 3em;
  border:1px solid #f47d39;
  color:#f47d39;
}
